<div  class="search">
<input id="search" #search>
<button (click)="searchProduct(search.value)">search</button>

<div class ="prodLDiv">
   

<div *ngFor="let product of productList" class="prod">
   <img src= {{product.thumbnail}} [routerLink]="['/detail', product.id]">
   <p>Name: {{product.title}} </p>
   <p> Price:{{product.price | currency:'USD'}}</p>
   <p> InStock:{{product.stock}}</p>
   <p> Description:{{product.description}}</p>
   
   <button type="button" class="btn btn-success" (click)="addToCart(product)">Add to cart</button><span></span>
 
   <button type="button" class="btn btn-success">Buy now</button>
</div>

</div></div>
